.main{
    width: 100%;
    height: 100vh;
    /* background-color: aqua; */

}

.home{
    width: 100%;
    height: 100vh;
    /* background-color: aqua; */
    /* border: 1px solid white; */
}
.login-form{
    width: 25%;
    height: 600px;
    display: flex;
    flex-direction: column;
    
    gap: 10px;
}
.insta{
    width: 25%;
    height: 600px;
    /* background-color: blue; */
}
.login{
    gap: 5px;
    border: 1px solid white;
}
.heading{
    width: 100%;
    height: 100px;
    /* background-color: blueviolet; */
}
.login input{
    width: 80%;
    padding: 10px 20px;
    background-color: buttonface;
    
}
.inputs button{
    width: 80%;
    padding:7px 15px;
    border-radius: 8px;
    background-color: rgb(142, 142, 243);
    
}
.links button{
    width: 80%;
    padding:7px 15px;
    border-radius: 8px;
    background-color: buttonface;
    color: black;
}
.inputs{
    /* background-color: lawngreen; */
    width: 100%;
    height: 180px;
    gap: 10px;
}
.line {
    border: none;
    border-top: 1px solid black;
    margin: 10px 0;
}
.links{
    /* background-color: salmon; */
    width: 100%;
    height: 120px;
    gap: 10px;
}
.link {
    width: 100%;
    /* background-color: rgb(165, 122, 40); */
    height: 70px;
    /* border: 1px solid black; */

}
.imgs img{
    width: 120px;
    height: 40px;
    margin: 10px;
}
.signup-form {
    width: 100%;
    /* background-color: red; */
    border: 1px solid white;

    height: 700px;
    gap: 10px;
   
}
.links{
    height: 130px;
    /* background-color: aqua; */

}
.link p{
    padding-left: 10px;
    /* background-color: aqua; */
    /* width: 80%; */
    font-size: small;
}
.pp p{
    text-align: center;
    padding-bottom: 10px;
    
}

.s-inputs{
    /* background-color: lawngreen; */
    height: 400px;
    gap: 10px;
}

.s-inputs input{
    width: 80%;
    padding:7px 15px;
    border-radius: 8px;
    background-color: buttonface;
    
}
.s-inputs button{
    width: 80%;
    padding:7px 15px;
    border-radius: 8px;
    background-color: rgb(142, 142, 243);
    color: white;
}

.heading img{
    width: 160px;
    background-color: white;
    height: fit-content;
}
line {
    border: none;
    border-top: 1px solid white;}

@media (max-width: 768px) {
    .login-form {
        width: 70%;
    }

    .insta {
        width: 70%;
    }
}

@media (max-width: 480px) {
    .login-form, .insta {
        width: 90%;
    }
}



