.sidebarmain{
  
  position: fixed;
  /* background-color: red; */
  justify-content: space-between;
  z-index: 1;
}
.sid-logo{
    width: 125px;
    margin: 25px;
}



 .kkk {
   display: flex;
   flex-direction: column;
   /* background-color: aqua; */
   
}

.side-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  background: 0;
  border: 0;
  margin: 5px 10px 5px 10px;
  padding: 10px 15px 10px 15px;
  border-radius: 15px;
  width: 100%;
}

.side-btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.128);
}

.side-btn > span {
  font-size: 18px;
  font-weight: bolder;
  margin-left: 10px;
}

.side-btn__more {
  position: fixed;
  bottom: 3px;
}