.profile-side-bar{ 
    position: relative;
    flex: 0.2;
   
}
.profile-summary{
    flex: 0.8;
}

.profile-summary img{
    width: 220px;
    height: 200px;
    border-radius: 50%;
}
.profile-details{
    /* background-color: red; */
    /* justify-content: space-around; */
    align-items: center;
    width: 90%;
    height: 400px;
}

.profile-image{
    width: 50%;
    /* background-color: aqua; */
    width: 20%;
    height: 100vh;
}
.user-info {
    /* background-color: blanchedalmond; */
    width: 70%;
    height: 200px;
}
.user-detail{
    /* background-color: blueviolet; */
    height: 100px;
    justify-content: space-between;
    padding: 10px;
}
.imgs-container img{
   width: 300px;
   height: 300px;
    border: 0.1px solid rgb(128, 127, 127);
    border-radius: 7px;
    cursor: pointer;
}
.profile-img{
    width: 30%;
    height: 150px;
    background-color: white;
    border-radius: 50%;

.user-info button{
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    outline: none;
    margin: 3px;
    cursor: pointer;
}
hr {
    border: none;
    border-top: 1px solid white;

    
}
.line{
    gap: 50px;
}

.profile-posts{
    flex-wrap: wrap;
    gap: 10px;
    /* background-color: red; */
}