.profile-side-bar{ 
    position: relative;
    flex: 0.2;
   
}
.profile-summary{
    flex: 0.8;
}

.profile-summary img{
    width: 220px;
    height: 200px;
    border-radius: 50%;
}
.profile-details{
    /* background-color: red; */

}.sb{
    /* background-color: aqua; */
    width: 20%;
    height: 100vh;
}
.profile-side{
    width: 100%;
    height: 400px;
    /* background-color: lawngreen; */
}
.profile-box{
    /* background-color: blue; */
    width: 80%;
    height: 400px;
    
}
.img-cont{
    width: 50%;
    /* background-color: saddlebrown; */
    height: 300px;
}
.profile-img{
    width: 30%;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    
}

.profile-info{
    width: 50%;
    /* background-color: pink; */
    height: 300px;
    gap: 10px;
}
.profile-heading{
    justify-content: space-between;
    padding: 10px;
}
.followers p{
    font-size: 15px;
    /* background-color: red; */
    width: 100%;
    height: 50px;
}

.profile-img img{
    width: 100%;
    height: 100%;
}
.user-posts{
    width: 100%;
    /* background-color: salmon; */
    height:500px ;
}
.user-heading{
    gap: 10px;
}
.card{
    width: 100%;
    height: 200px;
    /* background-color: saddlebrown; */
}